Screen {
    align-vertical: top;
}

Horizontal {
    height: 100%;
}

#list-pane {
    width: 50%;
    padding: 1 2;
    border-right: solid white;
}

#detail-pane {
    width: 50%;
    padding: 1 2;
}

.section-title {
    padding-bottom: 1;
}

#global-actions {
    margin-bottom: 1;
    height: auto;
}

#status-messages {
    height: 3;
    margin-bottom: 1;
    content-align: left top;
}

#app-table {
    height: 1fr;
}

#detail-info {
    height: 50%;
    border: solid white;
    padding: 1;
    margin-bottom: 1;
}

#action-buttons {
    layout: horizontal;
    align-horizontal: center;
    align-vertical: middle;
    height: auto;
}

Button {
    width: 15;
    height: 3;
    padding: 0 1;
    margin-left: 1;
    margin-right: 1;
}